Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
#Some Junky directory
Downloaded
Bats/BuildProject.bat
Bats/OpenEditor.bat
Bats/PATHS.bat
Bats/ShowEnvironmentalVariables.bat
Bats/TO_URUCHOM.bat
